.bio-div{
	width: 90%;
	margin: auto;
	
	background-color: #e6e6e6;
	font-family: Baskerville, “Baskerville Old Face”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
	color: black;
	font-style: italic;
	border-radius: 5px;
	box-shadow: 2px 2px 50px;
	-webkit-box-shadow: 2px 2px 50px;
	-moz-box-shadow: 2px 2px 50px; 
	clear: both;
	
}
#bio-text{
	font-size: 2vw;
}

#bio-text p{
	padding:2px;
	margin: 2px;

}

#bio img{
	margin-bottom: 15px;
	height: 49%; 
	width: 49%;
	border-radius: 5px;
	box-shadow: 2px 2px 50px;
	-webkit-box-shadow: 2px 2px 50px;
	-moz-box-shadow: 2px 2px 50px; 
}