html{
	box-sizing: border-box;
	overflow: hidden;
}

body{
	height: 100vh;
	margin: 0px;
	padding: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling:touch;
	perspective: 1px;
	-webkit-perspective:1px;
}

#wrapper{
	max-width: 960px;
	margin: 0px auto;
}


.clear_float
{
	clear: both;
}

/*#parallax-cover{
	width: 100%;

}

.parallax-group{
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.back{
	transform: translateZ(-1px) scale(2);
	-webkit-transform: translateZ(-1px) scale(2);
	position: relative;
	
}

.front{
	background-color: #ccc;
	padding: 14em 1em;
	position: relative;
	z-index: 2;

}*/
