p{
    margin: 0px;
    padding: 0px;
}

#header{
    width: 100%;
    text-align: center;
}


#headerName{
    font-family: 'Parisienne', cursive;
    color: black;
    font-size: 55px;
    font-style: italic;

}



@media only screen and (max-width: 880px) {
    #header{
    	
    	
    }

    #headerName{
    	
    }

    .nav-bar{
    	0%;

    }
    header p{
    	
    

    }

    h


    
}