
nav{
	float: right;
	margin-right: 50px;
	margin-top: 50px;
	min-width: 47.1%;
}

nav ul{
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

nav ul li{
	
	text-decoration: none;
	padding: 4px;
	padding-left: 2px;
	display: inline-block;
	text-align: center;
	border-top: solid #e6e6e6 1px ;
	border-right: solid white 5px;
	min-width: 80px;
	}

nav ul li a{
	text-decoration: none;
	font:15px bold ;
	font-family: 'Raleway', sans-serif;
	color: #666666;
	display: block;
	padding: 25px 2px 15px 2px;
	
}

nav ul li:hover{
	color: black;
	border-top: solid #e6e6e6 3px ;

}

.current{
	color: black;
	border-top: solid #330401 3px ;
	/*max-width: 100px;*/
}

.current:hover{
	color: black;
	border-top: solid #330401 3px ;
}


