nav ul{
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 4vw;
}


nav ul li{

	display: inline-block;
	
	border-top: solid #d9d9d9 1px ;
	border-right: solid #f2f2f2 5px;
	}

nav ul li a{
	text-decoration: none;
	font:15px bold ;
	font-family: 'Raleway', sans-serif;
	color: #666666;
	display: block;
	padding: 3vw;
	
	
}

nav ul li:hover{
	color: black;
	border-top: solid #e6e6e6 3px ;

}

.current{
	color: black;
	border-top: solid #330401 3px ;
	/*max-width: 100px;*/
}

.current:hover{
	color: black;
	border-top: solid #330401 3px ;
}


